/* background: linear-gradient() 背景にグラデーションを適用する */

/* -webkit-background-clip: text 背景を文字の形に切り取る */

/* -webkit-text-fill-color: transparent 文字を透明にする */

.apple {
  display: inline-block;
  padding-bottom: 0.03em;
  margin-bottom: -0.03em;
  overflow: hidden;
  color: transparent;
  background-color: #ffb6ff 0%;
  background-image: linear-gradient(180deg, #ffb6ff, #b344ff);
  background-clip: text;
  background-clip: text;
  will-change: transform;
}

.lig {
  display: inline-block;
  margin: 0 0 7px;
  font-size: 26px;
  color: transparent;
  color: #f36328;
  letter-spacing: 4px;
  background: linear-gradient(0deg, #e50137, #fb9a00);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coliss {
  display: inline-block;
  font-size: 123%;
  font-weight: bold;
  line-height: 127%;
  color: transparent;
  color: #978170;
  letter-spacing: -0.01em;
  background: linear-gradient(
    45deg,
    rgb(253 18 226) 20%,
    rgb(164 67 221),
    rgb(84 126 255) 90%
  );
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kouhekikyozou {
  display: inline-block;
  color: transparent;
  background: linear-gradient(0deg, #4158d0, #c850c0 30%, #ffcc70);
  background: linear-gradient(90deg, #4158d0, #c850c0 30%, #ffcc70);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
